<div id="main">
	<div style="position:relative">
	    <img src="http://cutler-github-io.qiniudn.com/main_title.png" style="position:absolute;left:-95px;top:-35px">  
	</div>
	<img src="http://cutler-github-io.qiniudn.com/main_bg.jpg"> 
</div>