<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://weishu.me/" target="_blank" title="点击查看">Weishu's Notes</a></li>
      <li><a href="http://ryanhoo.github.io/" target="_blank" title="点击查看">Ryan Hoo</a></li>
    </ul>
</div>